

<h1 class = "punto-1">
    ETAPA 1
    </h1>
<ul> 
    @for (p of productos; track $index) {
    <li>ID: {{ p.id  }} NOMBRE: {{p.nombre}} PRECIO: {{p.precio}}
        


    </li>
        }
    

</ul>


<h1 class="punto-2">ETAPA 2</h1>
<ul>
    <li *ngFor="let p of productos"
        [ngClass]="{'descuento': p.descuento, 'sinDescuento': !p.descuento}"> 
        {{ p.nombre }}
    </li>
</ul>

<h1 class="punto-2">ETAPA 3</h1>

<form [formGroup]="form">
        <div>
            <label for="nombreProducto">Nombre Producto:</label>
             <input type=”text” id="nombreProducto" placeholder="Ingrese producto aca"
             formControlName="nombre"> 
            
            
            </div>
        
             <label for="precio">Precio: </label>
             <input type=”number” id="precio" placeholder="Ingrese precio aca"
             formControlName="precio"> 

            <div></div>

        <button type="button" (click)="AgregarProducto()">Agregar Producto</button> 



</form>
